<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{api.newsDetails.author}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card  >
    <div>
      <ion-img src="{{api.newsDetails.urlToImage}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{api.newsDetails.title}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{api.newsDetails.description}}
        </p>
      </ion-card-content>
    </div>
  </ion-card>
