<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-card class="loginCard">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="email@webmail.com" ngModel
                         required ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel
                         required minlength="8"></ion-input>
            </ion-item>
          </div>

          <div padding align-items-center justify-content-center style="text-align: center" class="d-flex flex-column">
            <ion-button  size="large" type="submit" [disabled]="form.invalid">
              <span>Login</span>
            </ion-button>
            <div text-center class="or-text">OR</div>
            <ion-button style="text-align: center"   size="large" routerLink="/register" routerDirection="forward">Register</ion-button>
            <div padding>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-card>
  </form>


</ion-content>
