<ion-header>
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
    <ion-buttons slot="end" (click)="editProfile()">
      <ion-icon style="zoom: 2" name="person"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end"  (click)="logout()">
      <ion-icon style="zoom: 2" name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let news of newsData" >
    <div (click)="api.newsDetails = news"  routerLink="/newsdetails" routerDirection="forward">
      <ion-img src="{{news.urlToImage}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{news.title}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{news.description}}
        </p>
      </ion-card-content>
    </div>
  </ion-card>


</ion-content>
